* {
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-left: 280px;
    background-color: aliceblue;
}

.navbar2 .logo {
    color: rgb(60, 127, 172);
    font-size: 2.5em;
    margin-top: -550px;
    margin-left: 40px;
    text-decoration: none;
    align-items: center;
    display: flex;

}

.navbar2 .logo i {
    color: rgb(60, 127, 172);
    font-size: 1.4em;
}

.navbar2 * {
    color: rgb(60, 127, 172);
}


.navbar2 {
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
    padding: 0;
    background-color: rgb(5, 46, 67);
    width: 280px;
    height: 100vh;
    justify-content: center;
}

.ser {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 5vh;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
    padding-right: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.view {
    margin-top: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 1190px;
    height: 30vh;
    align-items: center;
    padding-left: 10px;
}


.viewe {
    margin-top: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 1190px;
    height: 50vh;
    align-items: center;

    padding-left: 10px;
}

.navbar2 .navlist {
    margin-top: 0px;
    width: 250px;
    height: 80vh;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.3em;

}


.navbar2 .navlist ul li {
    display: flex;
    margin: 30px 0;
    font-size: 1.2em;


}


.navbar2 .navlist ul li :hover {
    color: aliceblue;
    display: flex;
}

.navbar2 .navlist i {
    text-decoration: none;
    margin-left: 15px;
}


.re {
    position: absolute;
    width: 79%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#z {
    margin-top: -10px;
    margin-bottom: 10px;
    width: 96%;
    height: 3vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 600;
}

.re .rc button{
    margin-top: 20px;
    width: 200px;
    height: 7vh;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.re .rc a{
    cursor: pointer;
}

#a{
    color: white;
    background-color: rgb(5, 46, 67);
}


#b{
    color: rgb(5, 46, 67);
    background-color: white;
    border: rgb(5, 46, 67) 2px solid;
    margin-left: 5px;
}